DB_URL=jdbc:mariadb://localhost:3307/smart_rental_db?useSSL=false&serverTimezone=UTC&useUnicode=true&characterEncoding=utf8mb4
DB_USERNAME=root
DB_PASSWORD=root
JWT_SECRET=your_jwt_secret_here
CLOUDINARY_CLOUD_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
FPT_AI_KEY=your_fpt_ai_key
BLOCKCHAIN_PRIVATE_KEY=your_metamask_private_key
GEMINI_API_KEY=your_gemini_api_key
